<div class="background">
    <div class="div-login">
        <h4>Controle de Atividades</h4>
        <input placeholder="Registro Acadêmico" type="number" class="form-control" [(ngModel)]="usuario" />
        <input placeholder="Senha" type="password" class="form-control" [(ngModel)]="senha" (keyup.enter)="login()" />
        <span (click)="enviarSenhaProvisoria()">Esqueci a senha</span>
        &nbsp;|&nbsp;
        <span (click)="abrirCadastro()">Realizar cadastro</span>
        <br>
        <button class="btn btn-primary" (click)="login()">Entrar</button>
    </div>
    <div class="div-cadastro" style="display: none;">
        <h4>Cadastro</h4><span (click)="fecharCadastro()">&times;</span>
        <input placeholder="Registro Acadêmico" type="number" class="form-control" [(ngModel)]="matricula" />
        <input placeholder="Nome" type="text" class="form-control" [(ngModel)]="nome" />
        <input placeholder="Email Institucional" type="email" class="form-control" [(ngModel)]="email" />
        <select class="form-control" [(ngModel)]="curso">
            <option disabled value="0">Curso</option>
            <option *ngFor="let c of cursos" value="{{c.id_curso}}">{{c.nome_curso}}</option>
        </select>
        <br>
        <button class="btn btn-primary" (click)="finalizarCadastro()">Finalizar</button>
    </div>
</div>